@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap");s

*{
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
}
.contactus-wrapper{
  width: 80%;
  justify-content: center;
  display: flex;
  align-items: center;
}

.contactus-container{
  /* background-image : url("../images/architecture-contactus.jpg"); */
  border: 3.3px white solid;
  background-size: cover;
  width: 100%;
  height: 66vhvh;
  color: #fff;
  /*align-content: center;*/
}

.contactus-container .contactus{
  max-width: 600px;
  width: 100%;
  padding: 5px 15px;
  margin: 0 auto;
}

.contactus-container .contactus h1{
  padding-top: 10%;
  margin-bottom: 30px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 5px;
}

.item{
  margin-bottom: 15px;
}

.item input[type="text"],
.item textarea{
  width: 100%;
  background: none;
  border: 0;
  border-bottom: 2px solid #fff;
  color: #fff;
  padding: 0 0 15px 0;
  margin-right: 4vw;
}
.item input[type="email"]{
  width: 100%;
  background: none;
  border: 0;
  border-bottom: 2px solid #fff;
  color: #fff;
  padding: 0 0 15px 0
}
.item.name_email{
  display: flex;
  justify-content: space-between;
}

.item.name_email input[type="text"]{
  width: 73%;
}

.item textarea{
  height: 100px;
  resize: none;
}

.contact-number{
  margin-bottom: 3rem;
}

.contact-number a{
  line-height: 3rem;
}

/*.contact-number span{
  display: inline-block;
}*/


::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #fff;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #fff;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #fff;
}

@media screen and (max-width: 420px){
  .container .contactus h1{
    padding-top: 0%;
  }
  .item.name_email{
    flex-direction: column;
  }
  .item.name_email input[type="text"]{
    width: 100%;
    margin-bottom: 15px;
  }
}

/*@media (min-width:  1290px){
  .contactus-wrapper{
    display: inline-block;
  }
}*/

@media (max-width: 1290px){
  .contactus-wrapper{
    display: block;
  }
  .footer-col{
    display: block;
  }
}