:root {
  --yellow:#f5bf23;
  --black:#111;
  --white:#fff;
  --light-color:#666;
  --light-bg:#eee;
  --box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
  --border:.1rem solid rgba(0,0,0,.3);
}

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 7rem;
}

/*html::-webkit-scrollbar {
  width: 1rem;
}

html::-webkit-scrollbar-track {
  background: transparent;
}

html::-webkit-scrollbar-thumb {
  background: darkred;
}*/
/*.section8,
footer {
  scroll-snap-align: start;
}*/

section{
  padding: 4rem 4%;
  width: 100%;
}

/*coming soon*/
body{
  /*background: url(../images/Ellora-caves.jpeg) no-repeat;*/
  /*background: -webkit-gradient(linear, left top, right top, from(var(--white)), to(transparent));
  background: linear-gradient(90deg, var(--white), transparent);*/
  /*overflow-y: scroll;*/
  /*scroll-snap-type: y mandatory;*/
}

.main h1{
  color: var(--light-color);
  font-size: 40px;
}
.main p{
  font-size: 30px;
}

.heading {
  margin-bottom: 3rem;
  font-size: 3rem;
  color: var(--black);
  text-transform: capitalize;
  padding-left: 1rem;
  border-left: 1rem solid darkred;
}
@keyframes fadeIn {
  0% {
    top: 50%;
    opacity: 0;
  }
}
.mip-header {
  position: -webkit-sticky;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  /*bottom: rem;*/
  -webkit-box-shadow: var(--box-shadow);
          box-shadow: var(--box-shadow);
  padding: 0.6rem 0.7%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 1000;
  background: var(--light-bg);
  text-decoration: none;
}

.left-header img{
  vertical-align: middle;
  width: 40px;
}

.mip-header .ml-logo {
  font-size: 2.3rem;
  color: var(--black);
  text-transform: capitalize;
}

.mip-header .ml-logo span,
.home h3 span{
  color: darkred;
}

.mip-header .navbar a {
  font-size: 1.7rem;
  color: var(--black);
  text-transform: capitalize;
  margin: 0 2rem;
}

.mip-header .navbar a:hover {
  color: darkred;
}
.mip-header .icons div {
  height: 4.5rem;
  width: 4.5rem;
  line-height: 5rem;
  font-size: 2rem;
  background: var(--light-bg);
  color: var(--black);
  cursor: pointer;
  text-align: center;
  margin-left: .3rem;
}

.mip-header .icons div:hover {
  background: var(--black);
  color: var(--white);
}

.mip-header #menu-btn {
  display: none;
  position: absolute;
  top: 120%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 40rem;
  background: var(--white);
  -webkit-box-shadow: var(--box-shadow);
          box-shadow: var(--box-shadow);
  padding: 2rem;
  text-align: center;
  -webkit-animation: fadeIn .2s linear;
          animation: fadeIn .2s linear;
  display: none;
}


*{
  margin: 0;
  padding: 0;
}

/*.header{
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)), url(./images/background.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
}*/


.footer-container{
  max-width: 1000px;
  margin: auto;
}
.footer-row{
  display: flex;
  flex-wrap: wrap;
}
.footer{
  background-color: black;
  padding: 70px 0;
  /*position: fixed;*/
}
.footer-col{
  width: 25%;
  padding: 0 120px;
  /*text-align: center;*/
}
.footer-col ul{
  list-style: none;
}
.footer-col h4{
  /*font-family: 'Karma';*/
  font-size: 18px;
  color: #ffffff;
  margin-bottom: 10px; 
  position: relative;
}
.footer-col h4::before{
  content: '';
  position: absolute;
  left: 0;
  bottom: 2px;
  background-color: #e91e63;
  height: 2px;
  box-sizing: border-box;
  width: 70px;
}
.footer-col ul li:not(:last-child){
  margin-bottom: 10px;
}
.footer-col ul li a{
  font-size: 16px;
  /*text-transform: ;*/
  text-decoration: none;
  /*font-weight: 300;*/
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;
}
.footer-col img{
  width: 70px;
  padding: 10px;
}

.footer-col ul li a:hover{
  color: #ffffff;
  padding-left: 8px;
}
.footer-col .social-links{
  display: flex;
  flex-direction: row;
}
.footer-col .social-links a{
  /*display: inline-block;*/
  height: 40px;
  width: 80px;
  background-color: rgba(255,255,255,0.2);
  margin:0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease; 
  margin: 5px;
}
.footer-col .social-links a:hover{
  color: #24262b;
  background-color: #ffffff;

}
@media (max-width: 1200px) {
  .mip-header {
    padding: 1.5rem 2rem;
  }
  section {
    padding: 3rem 5%;
  }
}

@media (max-width: 991px) {
  html {
    font-size: 55%;
  }
  section {
    padding: 3rem 2rem;
  }
  .mip-header #menu-btn {
    display: inline-block;
  }
  .mip-header .navbar {
    position: absolute;
    top: 99%;
    left: 0;
    right: 0;
    background: var(--white);
    border-top: var(--border);
    border-bottom: var(--border);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
            clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    -webkit-transition: .2s linear;
    transition: .2s linear;
  }
  .mip-header .navbar.active {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
  .mip-header .navbar a {
    display: block;
    margin: 2rem;
  }
}


@media (max-width: 1113px) {
  .mip-header .search-form {
    width: 90%;
  }
  .mip-header .login-form {
    width: 90%;
  }
  
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
}