.okay {
        align-items: center;   
        display: flex;
        justify-content: center;
        /* min-height: 100vh; */
        -webkit-animation: parallax 10s linear infinite;
                animation: parallax 10s linear infinite;
        background-image: url("images/img1.jpg");
        -webkit-background-clip: text;
                background-clip: text;
        /* background-size: 600px; */
        font-size: 100px;
        line-height: 1.5;
        text-align: center;
        -webkit-text-fill-color: transparent;
        -webkit-text-stroke: 3px #000;
      }

      .simpleokay{
        align-items: center;
            display: flex;
            justify-content: center;
            /* min-height: 100vh; */
            -webkit-animation: parallax 10s linear infinite;
            animation: parallax 10s linear infinite;
            /* background-image: url('images/img1.jpg'); */
            -webkit-background-clip: text;
             background-clip: text;
            /* background-size: 600px; */
            font-size: 60px;
            line-height: 1.5;
            text-align: center;
            margin-bottom: -25px;

            /* -webkit-text-fill-color: transparent; */
            -webkit-text-stroke: -42px #000;
      }


      .flexokay{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: left;
        padding-left: 20px;
        padding-bottom: 0px;
        margin-bottom: -55px;
      }

      @media (max-width: 650px) {
        .okay{
                font-size: 60px;

        }
        .simpleokay{
                font-size: 60px;
        }
        .flexokay{
                margin-bottom: -35px;
        }
  
        }


        @media (max-width: 450px) {
                .okay{
                        font-size: 50px;

                }
                .simpleokay{
                        font-size: 50px;
                }
                .flexokay{
                        margin-bottom: -25px;
                }
        
        }

      